.profile-head {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #3C3C3C;
    color: white;
    height: 20vh;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%;
}

.profile-info-extra {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.profile-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
}

.profile-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3C3C3C;
    color: white;
    height: 30vh;
}